@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background:  rgb(39 39 42); /* Black background */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    border: 2px solid  rgb(39 39 42); /* Creates padding around thumb */
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888  rgb(39 39 42);
  }
}

